@font-face {
	font-family: 'gtbicon';
	src:url('../fonts/gtbicon.eot?3x5s1q');
	src:url('../fonts/gtbicon.eot?3x5s1q#iefix') format('embedded-opentype'),
		url('../fonts/gtbicon.ttf?3x5s1q') format('truetype'),
		url('../fonts/gtbicon.woff?3x5s1q') format('woff'),
		url('../fonts/gtbicon.svg?3x5s1q#gtbicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="gtb-icon-"], [class*=" gtb-icon-"] {
	font-family: 'gtbicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.gtb-icon-ctg:before {
	content: "\e800";
}
nav .mui-active > .gtb-icon-ctg:before {
	content: "\e801";
}
.gtb-icon-mine:before {
	content: "\e802";
}
nav .mui-active > .gtb-icon-mine:before {
	content: "\e803";
}
.gtb-icon-cart:before {
	content: "\e804";
}
nav .mui-active > .gtb-icon-cart:before {
	content: "\e805";
}
.gtb-icon-home:before {
	content: "\e806";
}
nav .mui-active > .gtb-icon-home:before {
	content: "\e807";
}
.gtb-icon-edit:before {
	content: "\e808";
}
.gtb-icon-order .path1:before {
	content: "\e809";
	color: rgb(134, 215, 234);
}
.gtb-icon-order .path2:before {
	content: "\e80a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-order .path3:before {
	content: "\e80b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-order .path4:before {
	content: "\e80c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-order .path5:before {
	content: "\e80d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-order .path6:before {
	content: "\e80e";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-obligation:before {
	content: "\e80f";
}
.gtb-icon-unreceipt .path1:before {
	content: "\e810";
	color: rgb(244, 152, 239);
}
.gtb-icon-unreceipt .path2:before {
	content: "\e811";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-unreceipt .path3:before {
	content: "\e812";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-unreceipt .path4:before {
	content: "\e813";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-unreceipt .path5:before {
	content: "\e814";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-unreceipt .path6:before {
	content: "\e815";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-unreceipt .path7:before {
	content: "\e816";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-unreceipt .path8:before {
	content: "\e817";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-dsk:before {
	content: "\e818";
}
.gtb-icon-user .path1:before {
	content: "\e819";
	color: rgb(255, 206, 97);
}
.gtb-icon-user .path2:before {
	content: "\e81a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-user .path3:before {
	content: "\e81b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-user .path4:before {
	content: "\e81c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-user .path5:before {
	content: "\e81d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-user .path6:before {
	content: "\e81e";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-user .path7:before {
	content: "\e81f";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-user .path8:before {
	content: "\e820";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-user .path9:before {
	content: "\e821";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-user .path10:before {
	content: "\e822";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-user .path11:before {
	content: "\e823";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-all .path1:before {
	content: "\e824";
	color: rgb(137, 137, 137);
}
.gtb-icon-all .path2:before {
	content: "\e825";
	margin-left: -1em;
	color: rgb(137, 137, 137);
}
.gtb-icon-all .path3:before {
	content: "\e826";
	margin-left: -1em;
	color: rgb(137, 137, 137);
}
.gtb-icon-all .path4:before {
	content: "\e827";
	margin-left: -1em;
	color: rgb(137, 137, 137);
}
.gtb-icon-all .path5:before {
	content: "\e828";
	margin-left: -1em;
	color: rgb(137, 137, 137);
}
.gtb-icon-all .path6:before {
	content: "\e829";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-all .path7:before {
	content: "\e82a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-aboutus .path1:before {
	content: "\e82b";
	color: rgb(114, 211, 162);
}
.gtb-icon-aboutus .path2:before {
	content: "\e82c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-aboutus .path3:before {
	content: "\e82d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-callcenter .path1:before {
	content: "\e82e";
	color: rgb(255, 102, 102);
}
.gtb-icon-callcenter .path2:before {
	content: "\e82f";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-callcenter .path3:before {
	content: "\e830";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-callcenter .path4:before {
	content: "\e831";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-callcenter .path5:before {
	content: "\e832";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}

.gtb-icon-kkpos:before {
	content: "\e900";
}
.gtb-icon-remark:before {
	content: "\e901";
}
.gtb-icon-paymethod .path1:before {
	content: "\e902";
	color: rgb(137, 137, 137);
}
.gtb-icon-paymethod .path2:before {
	content: "\e903";
	margin-left: -1em;
	color: rgb(137, 137, 137);
}
.gtb-icon-paymethod .path3:before {
	content: "\e904";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.gtb-icon-paymethod .path4:before {
	content: "\e905";
	margin-left: -1em;
	color: rgb(137, 137, 137);
}
.gtb-icon-paymethod .path5:before {
	content: "\e906";
	margin-left: -1em;
	color: rgb(137, 137, 137);
}
.gtb-icon-blurb:before {
	content: "\e907";
}
.gtb-icon-times:before {
	content: "\e908";
}
.gtb-icon-wechat:before {
	content: "\e909";
}
.gtb-icon-cash:before {
	content: "\e90a";
}
.gtb-icon-alipay:before {
	content: "\e90b";
}
.gtb-icon-invite:before {
	content: "\e90c";
}
.gtb-icon-rush:before {
	content: "\e90d";
}