.mui-btn-warning {
    border: 1px solid #fec40d;
    background-color: #fec40d;
}



.gtbui .mui-tab-item.mui-active {
    color: #fec40d;
}
.gtbui .mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before {
	color: #fec40d;
}

body {font-family: "黑体";}

.gui-arrow {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
}
.gui-arrow .mui-icon {
    position: absolute;
    right: 10px;
    color: #fff;
    top:6px;
}

.ctg-top-bar{
    /*position: absolute;*/
    top:0;
    height:40px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
    line-height: 40px;
    border-bottom: 1px solid #f4f4f4;
}

.ctg-top-bar ul {
    padding: 0;
    margin: 0;
}

.ctg-top-bar li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: #666666;
    font-size:18px;
}

.mui-row.mui-fullscreen>[class*="mui-col-"] {
	height: 100%;
}
.ctg-left-bar, .ctg-center-bar .mui-control-content {
	overflow-y: auto;
	height: 100%;
}
.ctg-left-bar .mui-segmented-control .mui-control-item {
    line-height: 20px;
    width: 100%;
    padding: 10px 3px 7px;
    white-space: normal;
}						

.ctg-left-bar .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	background-color: #fff;
}

.ctg-center-bar li.mui-table-view-cell{
    padding-right: 15px;
}

.ctg-center-bar li.mui-table-view-cell:after {
    left:0;
}

.ctg-center-bar .mui-table-view .mui-media-object {
    line-height: 70px;
    max-width: 70px;
    height: 70px;
}

.ctg-center-bar .mui-ellipsis:not(:first-child) {
    margin-top: 5px;
}
.gi ul {
    margin: 0;
    padding: 0;
}
.gi li{
    display: inline-block;
    width: 45%;
    margin: 10px 2% 0 3%;
}
.gi li .bimg {
    border: 10px solid #fffcf4;
    border-bottom-width: 0;
}
.gi li .btxt {
    position: relative;
    background-color: #fffcf4;
    font-size: 14px;
    padding: 5px 10px;
}
.gi li .btxt .sp{
    margin-right: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.gi li .btxt .addcart {
    position: absolute;
    top:10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-image: url('../../common/images/addcart.png');
    background-size: cover;
}
.gi li img {
    width: 100%;
}

.modal-head {
    padding-right: 10px;
    padding-top: 10px;
}

.btm-modal, .btm-modal.mui-active {
    bottom: 0;
    height: auto;
    min-height: 10px;
    max-height: 80%;
    top: auto;
}

.ctg-left-bar .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active, .gtb-active {
    color: #fec40d !important;
}

.md-1 {
    border-top: 1px solid #ededed;
}

.mdtxt {

}

.mdradio {
    margin-top: 5px;
}

.mdradio span {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #f0f0f0;
    color: #676767;
    border-radius: 5px;
}

.mdradio span.active{
    background-color: #fec40d;
    color:#ffffff;
}

#tabbar-with-cart .mui-segmented-control, #tabbar-with-mine .mui-segmented-control {
    border:1px solid #fec40d;
}

#tabbar-with-cart .mui-segmented-control .mui-control-item, #tabbar-with-mine .mui-segmented-control .mui-control-item {
    color:#fec40d;
    border-color:#fec40d;
}

#tabbar-with-cart .mui-segmented-control .mui-control-item.mui-active, #tabbar-with-mine .mui-segmented-control .mui-control-item.mui-active {
    background-color: #fec40d;
    color:#ffffff;
}

.mineHead {
	height:120px;
	text-align: center;
	background:-webkit-gradient(linear,0 100%,100% 100%,
       color-stop(0,rgb(254,185,31)),color-stop(1,rgb(247,202,164)) );
}
.mineHead img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin-top:20px;
}

.mineOrder{
	border-top: 1px solid #c8c7cc;
}

.mineOrder ul {padding:0;margin: 0;}

.mineOrder li:first-child {
	border-left-width: 0;
}
.mineOrder li{
	display: inline-block;
	width: 33.3%;
	line-height: 18px;
	text-align: center;
	border-left: 1px solid #c8c7cc;
} 

.consignee .mui-input-row label {
	width:30%;
    padding-left: 20px;
    padding-right: 0;
}

.consignee .mui-input-row label~input, #order-modal .mui-input-row label~select, #order-modal .mui-input-row label~textarea {
	width:70%;
}

.cart-paymethod .mui-input-row label {
	width: 80%;
}

.timeradio span {
	display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    color:#666666;
    border:1px solid #dddddd;
}

.timeradio span.disabled {
	background-color: #dddddd !important;
	border-color:#dddddd !important;
    color:#666666 !important;
}

.timeradio span.active {
	background-color: #fec40d;
    color: #ffffff;
    border-color:#fec40d;
}


/**/
#top{
    background-color: #FEC40F;
    width: auto;
    height:auto;
    text-align: center;
}
#top_logo{
    width: 100px;
    height: 100px;
    margin-top: 25px;

}
#top_text{
    width: 72px;
    height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#mid{
    background-color: #FFFFFF;
    width: auto;
    height:auto;
    margin-top: 10px;
}

.line_vertical{
    background-color: #d6d6d6;
    width: auto;
    height: 1px;
}

.user_div{
    width: auto;
    height: 45px;
    line-height:45px;
}

.left_icon{
    margin-left: 10px;
    width:18px ;
    height: 18px;
}

.text_style_nomal{
    height: auto;
    width: auto;
    font-size: 16px;
    color: #666666;
}

#user_name_input{
    width: 70%;
    height: auto;
    margin-right: 10px;
    border: none;
}
#user_password_input{
    width: 30%;
    height: auto;
    border: none;
}

#user_button_input{
    float: right;
    margin-right: 10px;
}

.user_div input[type="text"]{
    width: 35%;
    height: auto;
    border: none;
    padding: 0px;
}

.button_big{
    width: 80%;
    margin-top: 10px;
}
.button_right{
    float: right;
    margin-top: 6px;
    margin-right: 10px;
}
.centerdiv{
    width: auto;
    height: auto;
    text-align: center;
}
.simple_margin80{
    margin-left: 85px;
}

#orderDetail-modal .mui-table-view-cell.mui-active {background-color: inherit;}

.canMoveFixed {
    position: fixed;
    top:200px;
    right: 50px;
    z-index: 500;
}